{% extends "base.html.twig" %}

{% block body %}
<h1>
	bienvenu les boomer</h1>

<p>
	jfkddd dkfjjjjjjj kjffffffffffff kfjdd 	jfkddd dkfjjjjjjj kjffffffffffff kfjdd
</p>
<p>
	jfkddd dkfjjjjjjj kjffffffffffff kfjdd 	jfkddd dkfjjjjjjj kjffffffffffff kfjdd
</p>
{% endblock %}